configstore
menus
coc
broot
sanity


Code/
JetBrains/
artrepo-key
dconf/
evolution/
fish/
gnome-initial-setup-done
goa-1.0/
google-chrome/
gtk-3.0/
ibus/
mimeapps.list
pulse/
user-dirs.dirs
user-dirs.locale
Slack/
Talon/
enchant/
gedit/

