
snippet sol "Solution"
<details><summary><b>Solution</b></summary>
$1
</details><br>
endsnippet

snippet cb "code block"
```$1
```
endsnippet
	
snippet img "image with height"
<img src="./images/$1" alt="image missing" height="650"/>
endsnippet
	
